@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis', sans-serif;
}

.horizontal {
  display: flex; /* contexte sur le parent */
  flex-direction: row; /* direction d'affichage horizontal */
}

dialog {
  width: 400px;
}

#view-selector-container {
  display: none;
}

.mdl-list {
  overflow: scroll;
  max-height: 70vh;
}

.chart {
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
}

.center {
  margin: 40px;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
}

.mdl-button--fab {
  position: absolute;
  top: 100%; left: 100%;
  transform: translate(-100%, -100%);
  margin-bottom: 2Opx;
}

.mdl-list__item .mdl-list__item-secondary-content {
  align-items: flex-start;
}