@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis', sans-serif;
}

.horizontal {
  display: flex; /* contexte sur le parent */
  flex-direction: row; /* direction d'affichage horizontal */
}

#url-container {
  display: none;
}

#direct-link-container {
  display: none;
}

.mdl-dialog {
  width: 60vw;
}

#view-selector-container {
  display: none;
}

.mdl-list__item {
  border-bottom:1px solid #e2e2e2;
  width: calc(100% * (1/2) - 10px - 1px)

}

.mdl-list {
  overflow: scroll;
  max-height: 70vh;
  display: flex; /* contexte sur le parent */
  flex-wrap: wrap;
}

.chart {
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
}

.center {
  margin: 40px;
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
}

.mdl-button--fab {
  position: absolute;
  top: 100%; left: 100%;
  transform: translate(-100%, -100%);
  margin-bottom: 2Opx;
}

.mdl-list__item .mdl-list__item-secondary-content {
  align-items: flex-start;
}